
body {
    max-width: 640px;
    position: relative;
    background-color: rgba(250, 250, 250, 0.6);
    cursor: default;
    margin: 0 auto;
    padding: 0;
}
img{ max-width: 100%;}

.warp{
    position: relative;
    /*padding-top: 25%;*/
    width: 100%;
    height:100vh;
    box-sizing: border-box;
}
.fm-cover,.fm-cover-shield{
    position: relative;
    margin: 0 auto;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
}
@-webkit-keyframes change
{
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}

}


.fm-cover > img{
    display: block;
    position: relative;
    width: 100%;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -webkit-animation: change 10s linear infinite ;
    animation: change 10s linear infinite;
}
.fm-cover-shield{
    position: absolute;
    top:0;
    background: url("imgs/icon_play.png") no-repeat 50% 50% rgba(250,250,250,0.5);
    background-size: 20% 20%;
    z-index: 99;
}

.fm-msg{
    margin-top: 10%;
    width: 100%;
    text-align: center;

}
.fm-msg-title{
    font-size: 20px;
    line-height: 25px;
    color: rgb(3, 3, 3);

}
.fm-msg-singer{
    color: rgb(74, 74, 74);;
    font-size: 16px;
    line-height: 25px;

}

.fm-controls{  margin-top: 1rem;  }

.fm-controls img{
    display: block;
    max-width: 100%;
}

.fm-controls-top,.fm-controls-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.fm-controls-top{
    padding: 0 2.5rem;
}
.fm-controls-top > img{
    height: 25px;
}
.fm-controls-bottom{
    /*margin-top: 0rem;*/
    padding: .5rem 1rem;
    border-top: 1px solid #e8e8e8;
}
.fm-controls-bottom > img{ height: 35px;}
.fm-controls_center,.fm-volume{
    position: relative;
    margin: 40px auto;
    width: 90%;
}
.fm-volume{
    width: 80%;
    padding: 30px 0 30px 35px;
    background: url("imgs/icon_ volume.png") no-repeat left center;
    background-size: 30px 30px;
}
.fm-controls_datum,.fm-volume_datum{
    width: 100%;
    height: 2px;
    background-color: #888;
}
.fm-controls_plan,.fm-volume_plan{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: green;
}
.fm-volume_plan{
    top:49%;
    left: 35px;
}
.fm-controls_btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #000;

}

